.App {
    padding: 10px 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    grid-auto-flow: row dense;
}

.article h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.article a,
.article a:visited {
    text-decoration: none;
    color: inherit;
}

.article img {
    width: 100%;
}


img{
    width: 100%;
}

#item{
    position: relative;
}

#item .img-item2{
    position: absolute;
    top: 0;
    left: 0;

}

#item .img-item2{

    opacity: 0;
}

#item:hover>a .img-item2{
    opacity: 1;
    transition:all 0.5s ease;
}


.info-item{
    text-align: center;
    padding: 15px 0;
}

.info-item h6{
    color: #f9bdbd;

}


